@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card-anim {
    animation: slideUp 0.4s ease-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#searchInput::placeholder {
    color: #cbd5e1;
    font-weight: 500;
}